<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
  </style>
</head>
<body ng-controller="MainCtrl as vm" layout="column" >
  <header ng-cloak>
    <md-toolbar class="md-primary header">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Connect Four</h2>
      </div>
    </md-toolbar>
  </header>

  <main ng-cloak>
    <ng-view></ng-view>
  </main>

  <div ng-hide="vm.finishLoading" class="loader" >
    <svg viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>
</body>
</html>
