<md-content layout-padding class="grid" flex>
   <md-grid-list
       md-cols="{{vm.width}}"
       md-row-height-gt-md="1:1" md-row-height="4:3"
       md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
     <md-grid-tile
         ng-repeat="disc in vm.discs track by $index"
         ng-click="vm.dropDisc(disc.j)"
         ng-mouseover="vm.toggleHighlight(disc.j)"
         ng-mouseleave="vm.toggleHighlight()"
         ng-style="{
           'background': vm.highlightCells(disc.j)
         }"
         md-colspan="1"
         md-rowspan"1">
         <div class="color" ng-style="{'background-color':disc.color}">
         </div>
     </md-grid-tile>
     </ng-repeat>
   </md-grid-list>
 </md-content>
